name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, nightly]

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Test Stable
        if: matrix.toolchain == 'stable'
        run: cargo test --verbose
      - name: Test no-std
        if: matrix.toolchain == 'stable'
        run: cargo test --verbose --no-default-features
      - name: Test Nightly
        if: matrix.toolchain == 'nightly'
        run: cargo test --verbose --features unstable
